/node_modules
/vendor
.env
.idea
shopify.app.toml
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
phpunit.xml
Thumbs.db
wp-cli.local.yml
*.sql
*.tar.gz
*.zip
*.map
